<!doctype html>
<html class="no-js" xmlns:ng="http://angularjs.org"> <!--<![endif]-->
<head>
    <meta charset="utf-8"/>
    <title>Hippo Essentials</title>
    <meta name="description" content="AngularJS skeleton"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <!-- Force IE to NOT run in compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>

    <link rel="stylesheet" href="components/hippo-theme/dist/css/hippo-theme.css"/>
    <link rel="stylesheet" href="app/assets/styling/styles.css"/>

</head>
<body>
<!-- LOADER ON HTTP REQUESTS -->
<div class="busy-loader" ng-show="busyLoading">
    <img src="${pageContext.request.contextPath}/images/loader.gif"/>
</div>
<!-- ERROR MESSAGES -->
<div class="alert-danger" ng-show="globalError.length > 0">
    <strong>An error occurred:</strong>
    <div ng-repeat="message in globalError">
        {{message}}
    </div>
</div>

<div class="container-full">
    <div class="hippo-header">
        <div class="hippo-header-logo">
            <a href="/"><img src="app/assets/images/hippo-logo.png"></a>
        </div>
        <div class="hippo-header-text">
            {{headerMessage}}
        </div>

    </div>
    <div class="col-sm-2" style="margin-right: 20px;" ng-controller="mainMenuCtrl">
        <ul class="nav nav-stacked nav-pills" ng-show="packsInstalled">
            <li ng-repeat="item in menu" ng-class="{true:'active', false:''}[isPageSelected('{{item.link}}')]">
                <a href="{{item.link}}" ng-click="onMenuClick(item)">{{item.name}}</a>
            </li>
        </ul>

    </div>
    <div class="col-sm-9" ng-controller="homeCtrl">
        <div ng-view></div>
    </div>
</div>

<div class="footer">&copy; Hippo B.V., All Rights Reserved</div>




<script src="components/jquery/jquery.js"></script>
<script src="components/angular/angular.js"></script>

<script src="components/hippo-theme/dist/js/loader.js" data-modules="modules.json"></script>



</body>
</html>
